/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

.research-container {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
    color: rgb(255, 255, 255);
}
.page {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* box-sizing: border-box; */
    padding: 20px 100px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.338);
    text-align: justify;
}
.research-title {
    text-align: center;
    padding-bottom: 50px;
}
.chapter {
    font-size: x-large;
    font-weight: bolder;
}

.para {
    font-size: medium;
    font-weight: normal;   
    text-indent: 50px;
    line-height: 1.5;

}

.c13 {
    padding-top: 12pt;
    text-indent: 36pt;
    padding-bottom: 12pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 2.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 11pt
}

.c10 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c0 {
    /* color: #000000; */
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 11pt
}

.c14 {
    /* background-color: #ffffff; */
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify;
    height: 11pt
}

.c6 {
    /* background-color: #ffffff; */
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c23 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c22 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c19 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c3 {
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 400
}

.c2 {
    /* color: #000000; */
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c18 {
    font-weight: 700;
    font-size: 14pt;
    font-family: "Times New Roman"
}

.c1 {
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 700
}

.c9 {
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c7 {
    font-weight: 400;
    font-size: 11pt;
    font-family: "Arial"
}

.c16 {
    /* color: #000000; */
    text-decoration: none;
    vertical-align: baseline
}

.c20 {
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c17 {
    /* background-color: #ffffff */
}

.c21 {
    height: 11pt
}

.c24 {
    margin-left: 36pt
}

.c15 {
    /* background-color: #fcfcfc */
}

.title {
    padding-top: 0pt;
    /* color: #000000; */
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.subtitle {
    padding-top: 0pt;
    /* color: #666666; */
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

li {
    /* color: #000000; */
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    /* color: #000000; */
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    /* color: #000000; */
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h2 {
    padding-top: 18pt;
    /* color: #000000; */
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h3 {
    padding-top: 16pt;
    /* color: #434343; */
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h4 {
    padding-top: 14pt;
    /* color: #666666; */
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h5 {
    padding-top: 12pt;
    /* color: #666666; */
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

h6 {
    padding-top: 12pt;
    /* color: #666666; */
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: justify
}