<nav class="navbar">
    <div class="nav-container">
      <a class="navbar-logo" routerLink="">
        MelodyAI
      </a>
      <div class="nav-right">
        <ul class="nav-links">
          <li class="nav-item">
            <a class="nav-link nav-link-grow-up" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-grow-up" routerLink="create" routerLinkActive="active-link">CREATE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-grow-up" routerLink="about" routerLinkActive="active-link">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-grow-up" routerLink="research" routerLinkActive="active-link">RESEARCH</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>