<h1>Dev Team</h1>
<div class="about-container">
    
    <div class="about-card">
        <img class="card-img" src="../../../assets/blue1.png">
        <div class="card-name">
            <h4>Manthan Bhatt</h4>
            <p>Bachelor of science in computer science <br>
                Rutgers University</p>
        </div>
        <div class="socials">
            <div class="social"><ion-icon name="logo-github"></ion-icon></div>
            <div class="social"><ion-icon name="logo-linkedin"></ion-icon></div>
            <div class="social"><ion-icon name="logo-instagram"></ion-icon></div>
            <div class="social"><ion-icon name="mail"></ion-icon></div>
        </div>
    </div>
    <div class="about-card">
        <img class="card-img" src="../../../assets/blue1.png">
        <div class="card-name">
            <h4>Manthan Bhatt</h4>
            <p>Bachelor of science in computer science <br>
                Rutgers University</p>
        </div>
        <div class="socials">
            <div class="social"><ion-icon name="logo-github"></ion-icon></div>
            <div class="social"><ion-icon name="logo-linkedin"></ion-icon></div>
            <div class="social"><ion-icon name="logo-instagram"></ion-icon></div>
            <div class="social"><ion-icon name="mail"></ion-icon></div>
        </div>
    </div>
</div>