ion-icon {
    position: fixed;
    font-size: 96vh;
    z-index: -10;
    right: -10vw;
    transform: scaleX(1.7);
    top: 0px;
    filter: blur(7.5px);
    color: rgba(143, 132, 167, 1);
    opacity: 0.3;
    mask-image: linear-gradient(23deg, rgba(255,255,255,0) 10%, rgba(0,0,0,1) 74%);
}
