<div class="home-container">
    <h1>Experience the harmonious fusion of<br> artificial intelligence and creativity.</h1>
    <p>You pick the style, MelodyAI picks the notes.</p>
    <button routerLink="create" class="create-btn">Start creating</button>
    <div class="examples">
        <div class="record"><button class="btn"><ion-icon name="play"></ion-icon></button></div>
        <div class="record"><button class="btn"><ion-icon name="play"></ion-icon></button></div>
        <div class="record"><button class="btn"><ion-icon name="play"></ion-icon></button></div>
        <div class="record"><button class="btn"><ion-icon name="play"></ion-icon></button></div>
    </div>
    
</div>