.create-title {
    padding-top: 20px;
    font-size: 38px;
    text-align: center;
}

app-card-slider {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    gap: 50px;
}

.sub {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-btn {
    background: #C83C56;
    border-radius: 50px;
    border-style: none;
    font-weight: 400;
    font-size: 2vh;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    padding: 2vh 4vh;
}
