/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    padding: 0;
    margin: 0;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    color: white;
    overflow: hidden;
    background-repeat: no-repeat;
    background: rgb(57,19,19);
    background: linear-gradient(27deg, rgba(57,19,19,1) 0%, rgba(16,0,31,1) 55%);
    font-family: 'Outfit', sans-serif;
}
:root
{
    --primary-color: #1b003a;
    --secondary-color: #e2c821;
}